[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
flask-migrate = "*"
gunicorn = "*"
marshmallow = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
pytest = "*"
parsel = "*"
python-dotenv = "*"
click = "*"
psycopg2 = ">=2.9.1"
flask-limiter = "*"
flask-cors = "*"
colorama = "*"
firebase-admin = "*"
faker = "*"
factory-boy = "*"
celery = "*"
blinker = "*"
redis = "*"
python-dateutil = "*"
psycopg2-binary = ">=2.9.1"

[dev-packages]
black = "*"
pytest = "*"

[requires]
python_version = "3.9.1"
