arrow==0.13.0
b2==1.4.2
b2sdk==0.1.8
certifi==2020.4.5.1
chardet==3.0.4
flake8==3.8.2
funcsigs==1.0.2
hs-test-python==2.0.1
idna==2.9
logfury==0.1.2
mccabe==0.6.1
pycodestyle==2.6.0
pyflakes==2.2.0
python-dateutil==2.8.1
python-dotenv==0.14.0
requests==2.23.0
six==1.15.0
tqdm==4.46.0
urllib3==1.25.9
